*{
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
}
.parteCimaa{
    background-color: #1523ff;
    height: 110px;
    
}
#voltar{
    margin-left:400px;
    
}
#voltar:hover{
    transform: scale(1.1); 
    transition: all 0.5s; 
}
.logo{
    margin-top: 30px;
    height: 45px;
    position: relative;
}
#voltar02{
    float:left;
    
}
.logo02{
    margin-top:30px;
    margin-left: 30px;
    height: 45px;
    position: relative;
}
#td{
    position:relative;
}
.titulo{
    margin-left: 180px;
    
    color:#2b43ff;
    font-size: 40px;
    font-weight: 450;
}
.parte{
    margin-left:225px;
    width: 450px;
    height: 310px;
    padding: 35px;
    
    background-color: #ff7e15;
    border:3px solid black;
    border-radius: 15px;
    
}
form{
    background-color: #ff7e15;
    font-size: 25px;
    text-align: left;
    height: 310px;
}
h2{
    font-size: 30px;
    text-align:center;
    color: #2b43ff;
}
.pergunta{
    color: #2b43ff;
    text-decoration: none;
    background-color: #ff7e15;
    font-size: 22px;
    font-weight:450;
    
}
input{
    color: #000;
}
.resposta1, .resposta2, .resposta3, .resposta4, .resposta5{
    height: 25px;
    
    padding: 0.5px;
    padding-left:10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.resposta1{
    width: 270px;
}
.resposta2{
    width: 125px;
}
.resposta3{
    width: 160px;
}
.resposta4{
    width: 250px;
}
.resposta::-webkit-input-placeholder{
    color: #000;
}
#botao{
    text-align:center;
    list-style-type: none;    
}
.botao{
    
    width: 100px;
    height: 30px;
    padding: 5px;
    color:#fff;
    background-color:#2b43ff;
    
    border: 1px solid #2b43ff;
    border-radius: 4px;
    
}   
.oi{
    text-align: center;
    color: #000;
}