*{
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
}
.parteCimaa{
    background-color: #1523ff;
    height: 100px;
    
}
.logo{
    margin-left: 400px;
    margin-top: 25px;
    height: 45px;
    position: relative;
    
}
#menuVolta02{
    list-style: none;
    width: 150px;
    height: 60px;
    margin-left: 10px;
    color:#ff7e15;
    padding: 5px;
    
}
#menuVolta02:hover{
    background-color: #ff7e15;
    opacity:90%;
    color: #fff;
    
}
.fundo{
    background-color: #ff7e15;
    border-radius: 20px;
    
    margin-left: 190px;
    height: 200px;
    width: 500px;
    padding:50px;
    
}
.textRedes{
    color:#1523ff;
    font-size: 40px;
    
    text-align: center;
    
}
.imagensRedes{
    height: 70px;
    padding: 15px;
    text-align:center;
    
}
#gmail, #whats, #insta, #face{
    height: 60px;
    border-radius: 10px;
    
}
